.skill-title{
    font-size: 1.2rem;
    color:#1285d8;
    margin-right:1rem;
  }


  .skill-info{
    font-size: 1.1rem;
    color: rgb(188, 199, 225);
  }


  .skill-icon{

    color:#00c3ff;
    border-radius: 0.3rem;
    margin-right:1rem;
    font-size:0.9rem
  }
  
  @media (max-width: 720px) {
    .skill-title{
      font-size: 1.1rem;
      margin-right: 0.6rem;
    }
    .skill-info{
      font-size: 0.9rem;
    }
}
@media (max-width: 650px) {
  .skill-title{
    font-size: 1rem;
    margin-right: 0.4rem;
  }
  .skill-info{
    font-size: 0.8rem;
  }
  .skill-icon{
    display: none;
  }
}
@media (max-width: 500px) {
  .skill-title{
    font-size: 1rem;
    margin-right: 0.6rem;
  }
  .skill-info{
    font-size: 0.8rem;
  }
}